#welcome {
  margin-top: 15em;
}

#about, #pricing, #team {
  background: #f2f1eb;
  margin-top: 0em;
}

#intro-buttons {
  padding-bottom: 20em;
  margin-bottom: 0em;
}

#about h2, #pricing h2, #team h2 {
  margin-top: 2em;
  font-weight: 300;
  font-size: 44px;
  color: #c69807;
}

#about h3, #pricing h3, #team h3 {
  font-weight: 300;
  font-size: 27px;
  color: #c69807;
}

#about p, #pricing p, #team p {
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #797361;
}

.dashboard h3 {
  color: #fff;
  background-color: #f5c72a;
  font-weight: 400;
  font-size: 20px;
  padding-left: 2em;
  margin-bottom: 0em;
  line-height: 2em;
}

.dashboard p, .dashboard #p {
  background-color: #fff;
  color: #454237;
  font-size: 40px;
  font-weight: 300;
  padding-left: 1em;
  margin-top: 0em;
  line-height: 3em;
}

.dashboard #p {
  padding-bottom: 1em;
}

button.stripe-button-el {
  height: 89px;
  width: 258px;
  background: #fff !important;
  border: 3px solid #f5c72a;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0em;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3em !important;
}

button.stripe-button-el span {
  background: #fff !important;
  color: #f5c72a;
  font-size: 32px;
  font-weight: 400;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.dashboard label {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  color: #454237;
  text-align: center;
  margin-bottom: -3em;
}

.dashboard input {
  border: 1px solid #d9d8d2;
  height: 90px;
  width: 150px;
  padding: auto;
  font-size: 50px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.dashboard h2 {
  font-size: 43px;
  font-weight: 100;
  color: #f5c72a;
  margin-left: 0em;
  padding-left: 0em;
}

#testimonials, #faq, #investors {
  background-color: #fff;
}

#testimonials  h2, #faq h2, #investors h2 {
  margin-top: 2em;
  font-weight: 300;
  font-size: 44px;
  color: #c69807;
}

#blah {
  height: 5em;
}

.dashboard-container {
  padding-left: 0em;
  padding-right: 0em;
}
.home-container, .dashboard-container {
  margin-bottom: 0em;
  padding-bottom: 0em;
}

#welcome h1, #welcome h2 {
  text-align: center;
}

#home .container, .dashboard .container {
  background: url('/static/images/hero.png') no-repeat bottom;
}

body {
  background: -webkit-linear-gradient(#f5c72a, #eab50e); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f5c72a, #eab50e); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f5c72a, #eab50e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f5c72a, #eab50e); /* Standard syntax (must be last) */
  font-family: 'Roboto', sans-serif;
}

.dashboard-container, .body-dashboard {
  background: #f2f1eb !important;
}

.center-me {
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 40em;
}

#team p {
  text-align: justify;
}

#team .row {
  margin-bottom: 2em;
}

#team .bold {
  font-weight: 400 !important;
  font-size: 16px !important;
  color: #797361 !important;
}

#team .justify {
  font-weight: 300 !important;
  font-size: 15px;
  line-height: 23px;
  color: #797361 !important;
}

.center-me h1 {
  font: 65px #fff;
  font-weight: 500;
  text-transform: uppercase;
}

.center-me h2 {
  font: 27px #fff;
  font-weight: 300;
  margin-bottom: 2em;
}

.omgform {
  width: 20em;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
}

.creatish {
  text-align: center;
}

.register h1, .login h1 {
  font-size: 7em;
}

.button-holder {
  margin-left: auto;
  margin-right: auto;
  width: 30.3em;
}

#testimonials blockquote, #testimonials footer {
  text-align: justify;
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  color: #797361;
  border-left: none;
}

#faq .bold, #investors .bold {
  font-weight: 400;
  font-size: 16px;
  color: #797361;
  text-align: left;
}

#faq p, #investors p {
  text-align: justify;
  font-weight: 300;
  line-height: 23px;
  color: #797361;
}

#faq .justify, #investors .justify {
  margin-bottom: 2em;
}

#testimonials footer {
  font-weight: bold;
  margin-top: .5em;
}

.horizontal-section {
  text-align: center;
  /*margin-top: 10em;*/
}

.justify {
  text-align: justify;
}

.huge-pricing {
  margin-top: 1em;
  font-size: 51px !important;
  color: #454237;
}

#pricing img {
  margin-top: 2.65em;
}

#pricing .bold {
  margin-top: 2em;
  font-weight: bold;
  text-align: left;
}

#pricing p {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.horizontal-section h2 {
  font-size: 7em;
  margin-bottom: 1em;
}

.centered {
  text-align: center;
}

#welcome li {
  font-size: 1.5em;
}

.register, .login, .dashboard {
  margin-top: 6em;
}

.register-fail, .login-fail {
  margin-bottom: 1em;
}

.login .last-p {
  margin-bottom: 2em;
}
.dashboard .data {
  color: #DF691A;
  font-weight: bold;
}

.jumbotron h1 {
  text-align: center;
}

.btn {
  border: solid 2px #fff;
  font-size: 15px;
  font-weight: 500;
  border-radius: 3px;
}

.btn-learn-more {
  background-color: #f5c72a;
}

.btn-sign-up {
  background-color: #fff;
  color: #f5c72a;
}

.special-blah {
  background-color: #fff;
}

.nav-home a:visited, .nav-home a:hover, .nav-home a:active, .nav-home a:link {
  text-decoration: none;
}
