#welcome {
  margin-top: 15em;
}

#about {
  background: #f2f1eb;
  margin-top: 0em;
}

#intro-buttons {
  padding-bottom: 20em;
  margin-bottom: 0em;
}

#about h2 {
  margin-top: 2em;
  font-weight: 300;
  font-size: 44px;
  color: #c69807;
}

#about h3 {
  font-weight: 300;
  font-size: 27px;
  color: #c69807;
}

#about p {
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #797361;
}

#testimonials {
  background-color: #fff;
}

#testimonials  h2{
  margin-top: 2em;
  font-weight: 300;
  font-size: 44px;
  color: #c69807;
}

#blah {
  height: 5em;
}

.home-container {
  margin-bottom: 0em;
  padding-bottom: 0em;
}

#welcome h1, #welcome h2 {
  text-align: center;
}

#home .container {
  background: url('/static/images/hero.png') no-repeat bottom;
}

body {
  background: -webkit-linear-gradient(#f5c72a, #eab50e); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f5c72a, #eab50e); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f5c72a, #eab50e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f5c72a, #eab50e); /* Standard syntax (must be last) */
  font-family: 'Roboto', sans-serif;
}

.center-me {
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 40em;
}

.center-me h1 {
  font: 65px #fff;
  font-weight: 500;
  text-transform: uppercase;
}

.center-me h2 {
  font: 27px #fff;
  font-weight: 300;
  margin-bottom: 2em;
}

.omgform {
  width: 20em;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
}

.creatish {
  text-align: center;
}

.register h1, .login h1 {
  font-size: 7em;
}

.button-holder {
  margin-left: auto;
  margin-right: auto;
  width: 30.3em;
}

.horizontal-section {
  text-align: center;
  /*margin-top: 10em;*/
}

.justify {
  text-align: justify;
}

.huge-pricing {
  font-size: 5em;
}

.bold {
  font-weight: bold;
}

.horizontal-section h2 {
  font-size: 7em;
  margin-bottom: 1em;
}

.centered {
  text-align: center;
}

#welcome li {
  font-size: 1.5em;
}

.register, .login, .dashboard {
  margin-top: 6em;
}

.register-fail, .login-fail {
  margin-bottom: 1em;
}

.login .last-p {
  margin-bottom: 2em;
}

.dashboard h2 {
  font-weight: bold;
}

.dashboard .data {
  color: #DF691A;
  font-weight: bold;
}

.jumbotron h1 {
  text-align: center;
}

.btn {
  border: solid 2px #fff;
  font-size: 15px;
  font-weight: 500;
  border-radius: 3px;
}

.btn-learn-more {
  background-color: #f5c72a;
}

.btn-sign-up {
  background-color: #fff;
  color: #f5c72a;
}

.nav-home a:visited, .nav-home a:hover, .nav-home a:active, .nav-home a:link {
  text-decoration: none;
}
