<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bitrich {% block title %}{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  </head>
  <body class="{% block bodytag %}{% endblock %}">
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          {% if 'index' in request.endpoint %}<li><a href="{{ url_for('auth.register') }}">Sign Up</a></li>{% endif %}
          {% if current_user.is_authenticated %}
            <li {% if 'dashboard' in request.endpoint %}class="active"{% endif %}><a href="{{ url_for('investment.dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
          {% else %}
            <li {% if 'login' in request.endpoint %}class="active"{% endif %}><a href="{{ url_for('auth.login') }}">Login</a></li>
          {% endif %}
        </ul>
        <a alt="bitrich" href="{{ url_for('main.index') }}"><img class="logo" src="{{ url_for('static', filename='images/logo.png') }}"></a>
      </div>
    </div>
    
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="container">
          {% for category, message in messages %}
            <div class="alert alert-{{ 'danger' if category == 'error' else category }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    
    {% block body %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  </body>
</html>
