{% extends "base.html" %}

{% block body %}
  <div class="register">
    <div class="row">
      <div class="center-me">
        <h1>BitRich</h1>
        <h2>Ready to get rich? Sign up for a free account!</h2>
      </div>
      <div class="col-lg-6 col-lg-offset-3">
        <form class="bs-example form-horizontal" method="post" action="">
          {{ form.hidden_tag() }}
          <fieldset>
            <div class="omgform">
              <div class="form-group">
                {{ form.email(class="form-control", placeholder="Email", autofocus=true) }}
                {% if form.email.errors %}
                  <div class="text-danger">
                    {% for error in form.email.errors %}<small>{{ error }}</small>{% endfor %}
                  </div>
                {% endif %}
              </div>
              <div class="form-group">
                {{ form.password(class="form-control", placeholder="Password") }}
                {% if form.password.errors %}
                  <div class="text-danger">
                    {% for error in form.password.errors %}<small>{{ error }}</small>{% endfor %}
                  </div>
                {% endif %}
              </div>
              <div class="form-group">
                {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
                {% if form.confirm_password.errors %}
                  <div class="text-danger">
                    {% for error in form.confirm_password.errors %}<small>{{ error }}</small>{% endfor %}
                  </div>
                {% endif %}
              </div>
              <div class="form-group creatish">
                <button type="submit" class="btn btn-primary">Create Account</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
